.blue{
	background-color:blue;
	font-family:helvetica;
}
.fondo{
	background-color:#3b83bd;
	color:white;
	font-family:helvetica;
}
.elon{
	color:white;
	font-family:helvetica;
}
.image{
	border:solid #3b83bd;
	font-family:helvetica;
}
